<div class="ms-Grid-row vm-Cards">
  <div class="ms-sm4 vm-Card newsItem">
    <div>
      <div
        class="banner"
        style="background-image:url('/_layouts/15/images/sitepagethumbnail.png');"
      ></div>
      <div class="info placeholder">
        <p class="title"></p>
        <div class="meta"></div>
        <div class="abstract"></div>
        <div class="social"></div>
        <div class="tags"></div>
      </div>
    </div>
  </div>
  <div class="ms-sm4 vm-Card newsItem">
    <div>
      <div
        class="banner"
        style="background-image:url('/_layouts/15/images/sitepagethumbnail.png');"
      ></div>
      <div class="info placeholder">
        <p class="title"></p>
        <div class="meta"></div>
        <div class="abstract"></div>
        <div class="social"></div>
        <div class="tags"></div>
      </div>
    </div>
  </div>
  <div class="ms-sm4 vm-Card newsItem">
    <div>
      <div
        class="banner"
        style="background-image:url('/_layouts/15/images/sitepagethumbnail.png');"
      ></div>
      <div class="info placeholder">
        <p class="title"></p>
        <div class="meta"></div>
        <div class="abstract"></div>
        <div class="social"></div>
        <div class="tags"></div>
      </div>
    </div>
  </div>
</div>
