{{#gt (length items) 3}}
<a
  href="javascript:;"
  onclick="ValoNewsPrev('{{ componentId }}');"
  >{{resourceLabel "valoTempPrevious"}}</a
>
|
<a
  href="javascript:;"
  onclick="ValoNewsNext('{{ componentId }}');"
  >{{resourceLabel "valoTempNext"}}</a
>
{{/gt}}
<div class="ms-Grid-row vm-Cards">
  {{#each items}}
  <div class="ms-sm4 vm-Card newsItem {{#gt @index 2}}hidden{{/gt}}">
    <div>
      <div
        class="banner"
        style="background-image:url('{{imageResolution BannerImageUrlOWSURLH 1}}');"
      ></div>
      <div class="info">
        <p class="title">
          <a href="{{ Path }}" title="{{ Title }}">{{ Title }}</a>
        </p>
        <div class="meta">
          {{dateAgoFormat LastModifiedTime}} -
          <span class="editor"
            >{{splitSPUser EditorOWSUSER 'displayName'}} /
            {{profileProperty (splitSPUser EditorOWSUSER 'email') 'Department'}}</span
          >
        </div>
        <div class="abstract">{{ellipsis Description 100}}</div>
        <div class="social">
          <span class="comments">
            <i class="ms-Icon ms-Icon--Comment" aria-hidden="true"></i>
            <span>{{totalComments SPWebUrl ListID ListItemID}}</span>
          </span>
        </div>
        <div class="tags">
          {{#if ValoLocationOWSTEXT}}
          <span class="location tag">
            <i class="ms-Icon ms-Icon--POI" aria-hidden="true"></i>
            {{ ValoLocationOWSTEXT }}
          </span>
          {{/if}}
          {{#if owstaxIdValoTags}}
          {{#each (translateTerms owstaxIdValoTags SPWebUrl)}}
          <span class="tag">
            <i class="ms-Icon ms-Icon--Tag" aria-hidden="true"></i> {{this}}
          </span>
          {{/each}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
